body {
    background: #D9FFE2;
    font-family:"Times New Roman", Times, serif;
    margin: 40px;

h1 {
    text-align: center;
    color: #000000;
}
.attention {
    font-weight: bold;
}

}

.projects {
    background: #5f5f5f;
}