body {
    background: #D9FFE2;
    font-family: "Times New Roman", Times, serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: #000000;
}

.projects {
    background: transparent;
}

.row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stressed {
    width: 200px;
}

.solution-link {
    font-size: 18px;
}
.stressed {
    cursor: pointer;
    display: block;
}